.header{
    text-align: center;
    /* display:flex;
    flex-direction: row;  */
    justify-content: center;
}

.header > label{

    text-align: center;
    vertical-align: middle;
    font-family: Neonderthaw, serif;
    color:white;
    font-size: 50px;

}


.white{
    color:white;
}