.results-container {
    text-align: center;
    justify-content: center;
    margin-top: 130px;
}

.white {
    color: white;
}

.result-icon {
    margin-left: 20px;
}

.checkmark-icon {
    color: green;
}

.cross-icon {
    color: red;
}

.percentage-answered {
    margin-top: 20px;
}

.results-table {
    border-collapse: collapse;
    width:50%;
    margin-left: 25%;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0,0, 0.15);
    background-color: white;
}

.results-table thead tr {
    background-color: #009879;
    color:#ffffff;
    /* text-align: left; */
}

.results-table th,
.results-table td {
    padding: 12px 15px;
}

.results-table tbody tr {
    border-bottom: 1px solid #dddddd;
    
}

.results-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
    
}

.results-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}

.results-table tbody tr.active-row {
    font-weight: bold;
    color:#009879
}